* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 25;
    font-family: cursive, sans-serif;
    line-height: left;
    color: #333;
}

.header {
    background: #FF7F49;
    color: #3C2A0B;
    padding: 50px;
    margin-bottom: 50px;
}

.logo {
    float: left;
}

.logo h1 {
    font-size: 24px;
}

.nav {
    float: right;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 10px;
}

.nav a:hover {
    background: #34495e;
    border-radius: 3px;
}
